<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>MV-Dashboard</title>

  <link rel="apple-touch-icon" sizes="180x180" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/favicon-16x16.png">
  <link rel="manifest" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/site.webmanifest">
  <link rel="mask-icon" href="https://unpkg.com/mv-styleguide@1.0.0/favicons/safari-pinned-tab.svg" color="#212121">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#db0030">

  <link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide@1.0.0/css/base.css'>
  <link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide@1.0.0/css/vendors.min.css'>

  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://unpkg.com/@valais-media-library/mv-styleguide@1.0.0/js/vendors.min.js'></script>
  <script src="https://unpkg.com/@valais-media-library/mv-web-components@0.2.0/dist/mv-web-components/mv-web-components.esm.js" type="module"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js'></script>

</head>
<body>
  <mv-app-nav app-name="MV-Dashboard"></mv-app-nav>
  <div id="app">
    <div class="container mt-4">
      <h1 class="d-none">MV-Dashboard</h1>
      <div class="row mt-2">
        <div class="col">
          <button v-on:click="addParam('site', 'all')" class="tag tag-primary">All</button>
          <button v-on:click="addParam('site', 'brig')" class="tag tag-primary">Brig</button>
          <button v-on:click="addParam('site', 'sion')" class="tag tag-primary">Sion</button>
          <button v-on:click="addParam('site', 'martigny')" class="tag tag-primary">Martigny</button>
          <button v-on:click="addParam('site', 'st-maurice')" class="tag tag-primary">St-Maurice</button>
        </div>
        <div class="col">
          <button v-on:click="addParam('use', 'sp')" class="tag tag-primary">{{ translations.sp }}</button>
          <button v-on:click="addParam('use', 'dev')" class="tag tag-primary">eMV</button>
        </div>
      </div>

      <section class="container mt-5">
        <h2 v-show="applicationsFiltered.length > 0">{{ translations.applications }}</h2>
        <div id="applicationsList" class="row">
          <div v-for="app in applicationsFiltered" :class="'col-sm-6 col-lg-4 appItem '+app.use + ' '+app.sites">
            <a :href="app.url" :class="'card link-trapeze-vertical bg-accent text-white is-active-'+ app.active">
              <div class="card-body">
                <i :class="'mr-2 fas fa-'+app.icon"></i>
                {{ app.name }}
                <span class="float-right"><span :class="'fas fa-circle text-'+app.status"></span></span>
              </div>
            </a>
          </div>
        </div>

        <h2 v-show="linksFiltered.length > 0">{{ translations.links }}</h2>
        <div id="linksList" class="row">
          <div v-for="link in linksFiltered" :class="'col-sm-6 col-lg-4 linkItem '+link.use + ' '+link.sites">
            <a :href="link.url" :class="'card link-trapeze-vertical bg-white text-dark is-active-'+ link.active">
              <div class="card-body">
                <i :class="'mr-2 fas fa-'+link.icon"></i>
                {{ link.name }}
                <span class="float-right"><span :class="'fas fa-circle text-'+link.status"></span></span>
              </div>
            </a>
          </div>
        </div>

        <div class="text-small my-4">
          <div class="mb-1">{{ translations.legends }}</h2></div>
          <span><i class="fas fa-circle text-success"></i> Online</span>
          <span><i class="fas fa-circle text-warning"></i> Draft</span>
          <span><i class="fas fa-circle text-danger"></i> Offline</span>
        </div>

      </section>
      <mv-app-footer custom-class="my-4" />
    </div>
  </div>
  <script>

  new Vue({
    el: '#app',
    components: {},
    data: {
      applications: [],
      links: [],
      translations: [],
      types: [],
      status: [],
      lang: 'fr',
      site: 'all',
      use: 'sp',
    },
    mounted () {
      $.getJSON('db.json', json => {
        this.db = json
        this.applications = json.applications
        this.links = json.links
        this.status = json.status
        this.translations = json.translations[this.lang]
      })
      const urlParams = new URLSearchParams(window.location.search);
      this.lang = urlParams.has('lang') ? urlParams.get('lang') : "fr";
      this.site = urlParams.has('site') ? urlParams.get('site') : "all";
      this.use = urlParams.has('use') ? urlParams.get('use') : "sp";
    },
    computed: {
      applicationsFiltered: function() {
        return this.applications.filter(a =>  a.sites.includes(this.site) && a.use.includes(this.use) && a.active)
      },
      linksFiltered: function() {
        return this.links.filter(a =>  a.sites.includes(this.site) && a.use.includes(this.use) && a.active)
      }
    },
    methods: {
      addParam: function (param, value) {
        const url = new URL(window.location);
        let params = new URLSearchParams(url.search.slice(1));
        url.searchParams.set(param, value);
        location.href = url;
      }
    }
  })

  </script>
  <style>
    .text-online {
      color: var(--color-success);
    }
    .text-offline {
      color: var(--color-error);
    }
    .text-draft {
      color: var(--color-warning);
    }
    .is-active-false {
      background-color: var(--color-secondary)!important;
    }
  </style>

</body>
</html>
